{% extends "base.html" %}
{% block title %}Delete project{% endblock %}
{% block menu %}
    <li><a href="{% url "poll_view" poll.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete poll "{{ poll }}"?</h1>
    <form method="POST" action="{% url "poll_delete" poll.pk %}" class="text-center">
        {% csrf_token %}
        <h3><a href="{% url "poll_delete" poll.pk %}"><input type="submit" class="b1" value="Yes"> </a></h3>
        <h3><a href="{% url "poll_view" poll.pk %}" class="b2">Cancel</a></h3>
    </form>

{% endblock %}